body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: beige;
    height: 10vh;
    align-items: center;
}

.left {
    display: flex;
    width: 15%;
    position:relative;
    left: 16px;
}

.menu-icon-file {
    width: 50px;
    height: 40px;
}

.youTube-logo {
    height: 40px;
    width: 120px;
}

.center {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.search {
    display: flex;
    gap: 4;
}

.search-input {
    width: 500px;
    height: 32px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 12px;
    border: none;
}
.search-input:focus{
    border: none;
    outline: none;
}

.search-icon {
    background: red;
    padding: 7px;
    border-radius: 0px 20px 20px 0px;
}

.mic {
    background: red;
    padding: 7px;
    border-radius: 50%;
}

.right {
    width: 15%;
    display: flex;
    justify-content: flex-end;    
    gap: 14px;
    height: 32px;
    position:relative;
    right: 16px;
}

.upload-video {
    background: red;
    padding: 7px;
    border-radius: 50%;
}

.notification {
    background: red;
    padding: 7px;
    border-radius: 50%;
}

.profile {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image{
    width: 100%;
    height: 100%;
    object-fit: cover; 

}

.logo-image {
    width: 100%;
    height: 100%;
}

/* Main Content Part */

.content{
    display: flex;
    width: 100%;    
}
.sidebar{
    width: 15%;
    min-height: 100vh;
    background-color: blanchedalmond;
    padding: 0 8px;
}

.list1 ul {
    padding: 0 8px;
}
ul li{
    display: flex;
    list-style: none;
    padding-left: 18px;
    height: 40px;
}
ul li:hover{
    list-style: none;    
    background-color: rgb(250, 240, 225);
}

.list1 ul li i{
    margin-right: 18px;  
}
.sidebar-line{
    border-bottom: 0.3px solid black;
}
.main-content{    
    width: 85%;
}
.trendingKeys{
    height: 8vh;
    background-color: azure;
    display: flex; 
    gap: 8px;     
    position: relative;
    align-content: center;
    /* justify-content: start; */    
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    white-space: nowrap;
}

.trendingKeys::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.trendingKeys a{
    background-color:  #F2F2F2;
    padding: 12px;
    color: black;
    border-radius: 14px;
    position: relative;
    left: 12px;
    right: 12px;
}
.trendingKeys .all{
        color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);   
}
.TrendingContent{
    width: 100%;
}
.card{
    height: 41vh;
    display: flex;
    padding: 23px;
}
.card-1{
    width: 33.3%;
    height: 30vh;
}
.card-img{
    width: 100%;
}
.card-header-img{
    height: 200px;
    width: 350px;
    position: relative;

}
.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}
.card-time{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffffff;
    background-color: #051D28;
    padding: 1px;
    border-radius: 6px;
}
.card-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}
.card-channel-content{
    height: 40px;
    width: 248px;
}
.card-channel-heading{
    height: 50px;
    width: 258px;
}

.card-channel-options-img{
    width: 20px;
    height: 20px;
}
.card-channel-name{
   color: #919191;
    display: flex;
    opacity: 70%;
}
.card-video-details{
    color: #919191;
    display: flex;
}